In [1]:
#Expt 3: Compute measure of Central Tendency on a sample dataset
# a)Mean b)Median c)Mode
#Explore Measures of Dispersion on a sample dataset
#a)variance  b)standard deviation c)skewness d)kurtosis.

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("amitabhajoy/bengaluru-house-price-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/amitabhajoy/bengaluru-house-price-data?dataset_version_number=2...

100%|██████████| 195k/195k [00:00<00:00, 61.4MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/amitabhajoy/bengaluru-house-price-data/versions/2

In [5]:
import pandas as pd
df=pd.read_csv("/content/Bengaluru_House_Data (2).csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [6]:
def compute_statistics(column):
  mean_value=df['price'].mean()
  median_value=df['price'].median()
  mode_value=df['price'].mode()
  variance_value=df['price'].var()
  std_value=df['price'].std()
  skewness_value=df['price'].skew()
  kurtosis_value=df['price'].kurtosis()
  print(f"Statistics for {column}:")
  print("Mean:",mean_value)
  print("Median:",median_value)
  print("Mode:",mode_value)
  print("Variance:",variance_value)
  print("Standard Deviation:",std_value)
  print("Skewness:",skewness_value)
  print("Kurtosis:",kurtosis_value)
#Apply the function to each numerical column
numerical_columns=['price','total_sqft','bath','balcony']
for col in numerical_columns:
  compute_statistics(col)

Statistics for price:
Mean: 112.5656265015015
Median: 72.0
Mode: 0    75.0
Name: price, dtype: float64
Variance: 22192.559585738298
Standard Deviation: 148.9716737696744
Skewness: 8.064468821273252
Kurtosis: 108.16651274550613
Statistics for total_sqft:
Mean: 112.5656265015015
Median: 72.0
Mode: 0    75.0
Name: price, dtype: float64
Variance: 22192.559585738298
Standard Deviation: 148.9716737696744
Skewness: 8.064468821273252
Kurtosis: 108.16651274550613
Statistics for bath:
Mean: 112.5656265015015
Median: 72.0
Mode: 0    75.0
Name: price, dtype: float64
Variance: 22192.559585738298
Standard Deviation: 148.9716737696744
Skewness: 8.064468821273252
Kurtosis: 108.16651274550613
Statistics for balcony:
Mean: 112.5656265015015
Median: 72.0
Mode: 0    75.0
Name: price, dtype: float64
Variance: 22192.559585738298
Standard Deviation: 148.9716737696744
Skewness: 8.064468821273252
Kurtosis: 108.16651274550613

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler

In [8]:
#Display basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [9]:
df=df.dropna(thresh=int(0.7*df.shape[1]))

In [10]:
#Fill missing values for numerical columns with median
num_cols=df.select_dtypes(include=['number']).columns
df[num_cols]=df[num_cols].apply(lambda x:x.fillna(x.median()))

In [11]:
#Fill missing values for categorical columns with mode
cat_cols=df.select_dtypes(include=['object']).columns
df[cat_cols]=df[cat_cols].apply(lambda x:x.fillna(x.mode()[0]))

In [12]:
#1.Handling missing Values
#Drop rows with more than 30% missing values
df=df.dropna(thresh=int(0.7*df.shape[1]))

In [13]:
#Fill missing values for numerical columns with median
nums_cols=df.select_dtypes(include=['number']).columns
df[nums_cols]=df[nums_cols].apply(lambda x:x.fillna(x.median()))

In [14]:
#Fill missing values for categorical columns with mode
cat_cols=df.select_dtypes(include=['object']).columns
df[cat_cols]=df[cat_cols].apply(lambda x:x.fillna(x.mode()[0]))

In [15]:
#2.Handling Duplicates
df=df.drop_duplicates()

In [16]:
#3.Fixing Inconsistent Data
#convert all text data to Lowercase
df[cat_cols]=df[cat_cols].apply(lambda x:x.str.lower())

In [17]:
#4.Feature Scaling
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()